<!-- Generated template for the EnterVerificationCodeComponent component -->
<ion-content padding-horizontal>
	<ion-label text-center>
		Citizen Traffic Safety
	</ion-label>
	<ion-note ion-note text-center>
		Confirm your account with the verification code sent by SMS
	</ion-note>
	<form #form="ngForm">
		<ion-item margin-vertical no-padding >
			<ion-label>
				<ion-icon name="call"></ion-icon>
			</ion-label>
			<ion-input placeholder="Your phone number (with country code)" required="true" type="text" name="phone_number" [(ngModel)]="info.phone_number" disabled="true"></ion-input>
			<ion-icon  name="md-create" item-end (tap)="onBack.emit()">
			</ion-icon>
		</ion-item>
		<ion-item margin-vertical no-padding>
			<ion-input placeholder="enter in verification code" required="true" type="text" name="code" [(ngModel)]="info.code"></ion-input>
		</ion-item>
		<button (tap)="onNext.emit()" [disabled]="!form.valid" margin-vertical ion-button >Verify Account</button>
	</form>
</ion-content>