<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header padding mode="ios">
    <ion-title mode="md" text-center>Citizen Traffic Safety</ion-title>
</ion-header>


<ion-content padding-horizontal>
	<ion-slides pager="true" paginationType="bullets">
		<ion-slide class="landing-page-slide" *ngFor="let slide of slides">
			<img [src]="slide.img">
			<h2 ion-label>{{slide.title}}</h2>
		</ion-slide>
	</ion-slides>
</ion-content>

<ion-footer  padding mode="ios" text-center>
    <button (tap)="next()" ion-button mode="md" text-center>
    	Continue
    </button>
</ion-footer>
