<!--
  Generated template for the SignInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header padding mode="ios">
    <ion-title mode="md" text-center>Citizen Traffic Safety</ion-title>
</ion-header>
<ion-content>
	<div class="content-col">
		<ion-item no-lines text-center>
			<ion-label text-center>Sign In With</ion-label>
		</ion-item>
		<div class="icon-row">
			<ion-icon name="logo-facebook" (tap)="signIn('fb')"></ion-icon>
			<ion-icon name="logo-twitter" (tap)="signIn('twitter')"></ion-icon>
			<ion-icon name="logo-googleplus" (tap)="signIn('google')"></ion-icon>
		</div>
		<ion-item no-lines text-center>
			<ion-label text-center>or</ion-label>
		</ion-item>
		<ion-item no-lines text-center>
			<button padding ion-button (tap)="goToPhonePage()">Use Phone Number</button>
		</ion-item>
	</div>
</ion-content>


<ion-footer *ngIf="platform.is('ios')">
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-left (tap)="back()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>