page-sign-in {
	.icon-row {
		display:flex;
		width:100%;
		justify-content:space-around;
		font-size:3.4em;
	}

	.content-col {
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:space-around;
	}
}
