<!-- Generated template for the MenuComponent component -->

<ion-header mode="ios" >
    <ion-toolbar mode="md" color="primary">
      <ion-title mode="md">Citizen Traffic Safety</ion-title>
    </ion-toolbar>
</ion-header>
    
<ion-content >
	  	<ion-item menuClose (tap)="openAbout()">
		    <ion-label >
		    	About Patriot Agenda
		    </ion-label>
	    </ion-item>
	    <ion-item menuClose (tap)="openFeedback()">
		    <ion-label >
		    	Feedback
		    </ion-label>
	    </ion-item>
</ion-content>


<ion-footer mode="ios">
	<ion-item menuClose no-lines color="danger" (tap)="logout()">
	    <ion-label >
	    	Logout
	    </ion-label>
	    <ion-icon item-end name="log-out"></ion-icon>
    </ion-item>
</ion-footer>
