<ion-content>
	<ion-label text-center>
		Add new vehicle rating
	</ion-label>
	<ion-note ion-note text-center>
		Journey Information
	</ion-note>
	<form #form="ngForm">
		<ion-item margin-vertical>
			<ion-label stacked>Start time</ion-label>
			<ion-datetime displayFormat="MMM DD, YYYY HH:mm"  required="true" placeholder="date/time" name="start_time" [(ngModel)]="info.start_time" min="{{minDate | date: 'yyyy-MM-dd'}}" max="{{maxDate | date: 'yyyy-MM-dd'}}"></ion-datetime>
		</ion-item>

		<ion-item margin-vertical>
			<ion-label stacked>End time</ion-label>
			<ion-datetime placeholder="date/time" displayFormat="MMM DD, YYYY HH:mm"  required="true" name="end_time" [(ngModel)]="info.end_time" min="{{minDate | date: 'yyyy-MM-dd'}}" max="{{maxDate | date: 'yyyy-MM-dd'}}"></ion-datetime>
		</ion-item>

		<ion-item margin-vertical>
			<ion-label stacked>Origin</ion-label>
			<ion-input placeholder="where did the journey begin?" required="true" name="origin" [(ngModel)]="info.origin"></ion-input>
		</ion-item>

		<ion-item margin-vertical>
			<ion-label stacked>Destination</ion-label>
			<ion-input placeholder="what was your destination?" required="true" name="destination" [(ngModel)]="info.destination"></ion-input>
		</ion-item>
	</form>
</ion-content>