<ion-content>
<div class="recent-trip-list-container">
	<ion-searchbar
	  [(ngModel)]="searchText"
	  mode="md"
	  placeholder="search number plate, place, rating"
	  showCancelButton="true"
	  (ionInput)="searchTrips()"
	  (ionCancel)="clearSearch()">
	</ion-searchbar>
	<ion-scroll scrollY="true">
		<ion-list >
			<ion-item *ngFor="let rating of ratingList" (tap)="onTripSelect(rating)">
				<div item-content>
					<ion-label>
						{{rating.vehicle.vehicle_type_id | vehicleType}}
						#{{rating.vehicle.vehicle_id}}
					</ion-label>
					<ion-note>
						{{rating.start_time | date:'shortTime'}} - {{rating.end_time | date:'shortTime'}} : {{rating.start_time | date: 'mediumDate'}}
					</ion-note>
				</div>
				<div item-end>
					<ion-label text-right no-margin>
						{{rating.summary_score}}%
					</ion-label>
					<ion-note>
						{{rating.created_at | timeAgo}}
					</ion-note>
				</div>
			</ion-item>
		</ion-list>
	</ion-scroll>
</div>
</ion-content>
