<!--
  Generated template for the AddNewRatingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
<ion-slides #slides >
  <ion-slide>
    <add-rating-vehicle-info #vehicleInfo></add-rating-vehicle-info>
    
  </ion-slide>
  <ion-slide>
    <add-rating-trip-info #tripInfo></add-rating-trip-info>
  </ion-slide>
  <ion-slide>
    <add-rating-rating-info #ratingInfo></add-rating-rating-info>
  </ion-slide>
</ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-left (tap)="back()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button [disabled]="!onFormUpdate()" ion-button icon-right (tap)="next()">
        {{slides.getActiveIndex()==2 ? 'Save' : 'Next' }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>