<ion-content>
	<ion-label text-center>
		Add new vehicle rating
	</ion-label>
	<ion-note ion-note text-center>
		Rating Information
	</ion-note>
	<form #form="ngForm">
		<input [(ngModel)]="formValid" required="true" type="hidden" name="valid">
	</form>
	
	<ion-list no-lines>
		<ion-label padding text-left no-margin>
	    Select atleast {{minFactors}} factors
	 	</ion-label>
	  <div border></div>
	  <ng-container  *ngFor="let param  of models">
	  	<ion-item mode="md">
	  		<ion-label mode="md" no-margin>{{param.name}}</ion-label>
	  		<ion-checkbox (ionChange)="updateForm()" mode="md" item-end [(ngModel)]="param.selected" ></ion-checkbox>
	  	</ion-item>
	  	<div *ngIf="param.type=='range'" range-container padding-horizontal padding-bottom>
  			<ion-icon central name="ios-radio-button-off-outline">
     		</ion-icon>
		  	<ion-range (ionChange)="updateForm()" #range [slider]="range" mode="md" [disabled]="!param.selected"  no-padding min="0" max="10" snaps="true" [(ngModel)]="param.value" steps="1">
		  		<ion-icon small range-left name="ios-thumbs-down-outline">
		  			<br>
		  			<ion-note>-5</ion-note>
		  		</ion-icon>
	     		<ion-icon small range-right name="ios-thumbs-up-outline">
	     			<br>
	     			<ion-note>5</ion-note>
	     		</ion-icon>
		  	</ion-range>
	  	</div>
	  </ng-container>
	  <div border></div>
	</ion-list>
</ion-content>