add-rating-rating-info {
	ion-label[rlabel] {
		
	}

	ion-range[rrange] {
	}

	[item-content][ritem] {
	}

	ion-checkbox[rcheck] {

	}

	[range-container] {
		position:relative;
		border-bottom:1px solid;
		border-bottom-color:lightgrey;
	}

	[range-container] > ion-range{
		width:100%;
	}

	ion-icon[central] {
		position:absolute;
		margin-left: -8.8px;
    	margin-top: 12px;
	}

	[border] {
		border-bottom:1px solid;
		border-bottom-color:lightgrey;
	}
}
