<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-menu [content]="tabs">
  <menu-home></menu-home>
</ion-menu>


<ion-tabs #tabs mode="md" tabsPlacement="top" tabsHighlight="true" >
  <ion-tab tabsHideOnSubPages="true" [tabTitle]="tab1.title" [root]="tab1.comp"></ion-tab>
  <ion-tab tabsHideOnSubPages="true" [tabTitle]="tab2.title" [root]="tab2.comp"></ion-tab>
</ion-tabs>

<ion-fab right bottom>
	<button  ion-fab (tap)="addRating()">
		<ion-icon  name="md-add"></ion-icon>
	</button>
</ion-fab>
