<!--
  Generated template for the RatingDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content >
	<ion-item no-lines>
		<div item-content>
			<ion-label>
				{{rating?.vehicle.vehicle_type_id | vehicleType}}
				#{{rating?.vehicle.vehicle_id}}
			</ion-label>
			<ion-note>
				{{rating?.start_time | date:'shortTime'}} - {{rating?.end_time | date:'shortTime'}} : {{rating?.start_time | date: 'mediumDate'}}
			</ion-note>
		</div>
		<div item-end>
			<ion-label text-right no-margin>
				{{rating?.summary_score}}%
			</ion-label>
			<ion-note>
				{{rating?.created_at | timeAgo}}
			</ion-note>
		</div>
	</ion-item>
	<ion-item no-lines>
		<ion-label>
			{{rating?.origin | geo}} - {{rating?.destination | geo}}
		</ion-label>
	</ion-item>
	<ion-list >
	  <ion-list-header no-lines>
	    Safety Rating Details
	  </ion-list-header>
	  <ion-item *ngFor="let info  of rating | ratingInfo">
	  	<ion-label item-content>{{info.name}}</ion-label>
	  	<ion-note item-end>{{info.rating_text}}</ion-note>
	  </ion-item>
	</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-left (tap)="back()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
