<ion-content >
	<ion-label text-center>
		Add new vehicle rating
	</ion-label>
	<ion-note ion-note text-center>
		Vehicle Information
	</ion-note>
	<form #form="ngForm">
		<input type="number" name="id" hidden="true" [(ngModel)]="info.id">
		<ion-item margin-vertical>
			<ion-label stacked>Vehicle Type</ion-label>
			<ion-select [disabled]="info.id!=null" required="true" placeholder="Select the vehicle type"  interface="action-sheet" name="vehicle_type_id" [(ngModel)]="info.vehicle_type_id">
				<ion-option *ngFor="let vtype of vehicle_types" [value]="vtype.id">
					{{vtype.name}}
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-item margin-vertical>
			<ion-label stacked>Vehicle ID</ion-label>
			<ion-input [readonly]="info.id!=null" required="true" type="text" name="vehicle_id" [(ngModel)]="info.vehicle_id"></ion-input>
		</ion-item>
	</form>
</ion-content>