<!-- Generated template for the EnterPhoneNumberComponent component -->
<ion-content padding-horizontal>
	<ion-label text-center>
		Citizen Traffic Safety
	</ion-label>
	<ion-note ion-note text-center>
		Your phone is needed to verify your account
	</ion-note>
	<form #form="ngForm">
		<ion-item margin-vertical no-padding>
			<ion-label>
				<ion-icon name="ios-pin-outline"></ion-icon>
			</ion-label>
			<ion-select required="true" placeholder="Your country"  interface="action-sheet" name="country_code" [(ngModel)]="info.country_code">
				<ion-option *ngFor="let country of countries | sortArray : 'name'; trackBy countryIndex" [value]="country.alpha2">
					{{country.name}} ({{country.countryCallingCodes}}) 
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-item margin-vertical no-padding>
			<ion-label>
				<ion-icon name="call"></ion-icon>
			</ion-label>
			<ion-input #phoneinput [code]="info.country_code" [input-phone]="phoneinput" placeholder="Your phone number" required="true" type="text" name="phone_number" [(ngModel)]="info.phone_number"></ion-input>
		</ion-item>
		<button (tap)="onClickNext()" [disabled]="!form.valid" margin-vertical ion-button >Send Verification Code</button>
	</form>
</ion-content>