<!--
  Generated template for the PhoneVerifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
 -->
<ion-content>
<ion-slides #slides >
  <ion-slide>
    <enter-phone-number #enterPhoneNumber></enter-phone-number>
  </ion-slide>
  <ion-slide>
    <enter-verification-code #verifyCode></enter-verification-code>
  </ion-slide>
</ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-left (tap)="back()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button [disabled]="!onFormUpdate()" ion-button icon-right (tap)="next()">
       	Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>