<ion-content>
<div class="safety-info-list-container">
	<ion-searchbar
	  [(ngModel)]="searchText"
	  mode="md"
	  placeholder="search number plate, vehicle type"
	  showCancelButton="true"
	  (ionInput)="searchVehicles()"
	  (ionCancel)="clearSearch()">
	</ion-searchbar>
	<ion-scroll scrollY="true">
		<ion-list >
		  	<ion-item *ngFor="let vehicle of vehicleList" (tap)="onVehicleSelect(vehicle)">
				<div item-content>
					<ion-label>
						{{vehicle.vehicle_type_id | vehicleType}}
						#{{vehicle.vehicle_id}}
					</ion-label>
				</div>
				<div item-end>
					<ion-label text-right no-margin>
						{{vehicle.summary_score}}%
					</ion-label>
					<ion-note>
						{{vehicle.rating_count}} trips
					</ion-note>
				</div>
			</ion-item>
		</ion-list>
	</ion-scroll>
</div>
</ion-content>
